html,
body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    font-family: 'Hi Melody', cursive;
}

#message-pane {
    background-color: #acc65d;
    background-image: url("/assets/images/bg.gif");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Hi Melody', cursive;
}

#form-card {
    margin: 0px;
}

.material-icons {
    font-size: 40px !important;
    vertical-align: center;
}

.message-card {
    max-width: 75%;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
}

.message-time {
    margin-top: 4px;
    float: right;
    color: #4e535b;
    font-size: 15px;
}